<div class="container", style="margin-top: 50px;">
<div class="card">
<div class="card-block">
<h2 class="card-title">우리동네 수학대장</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group row">
    <%= f.label :email, class:"col-sm-2 col-form-label" %><br />
    <div class="col-sm-10">
    <%= f.email_field :email, autofocus: true, class:"form-control card-text" %>
    </div>
  </div>

  <div class="field form-group row">
    <%= f.label :password, class:"col-sm-2 col-form-label" %><br />
    <div class="col-sm-10">
    <%= f.password_field :password, autocomplete: "off", class:"form-control card-text" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class:"form-check-label card-text" %>
    </div>
  <% end -%>

  <div class="actions offset-sm-2 col-sm-10">
    <%= f.submit "로그인", class:"card-link" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>


</div>
</div>
</div>