<ul class="nav justify-content-center">
  
  <li class="nav-item">
    <a class="nav-link active nav-view" href="captain">수학대장</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link nav-view" href="/">묻고 답하기</a>
  </li>

  <% if current_user.nil? %>  
  <li class="nav-item nav-view">
    <%= link_to '로그인', new_user_session_path, class:"nav-link" %>
  </il>
  <% else %>
  <li class="nav-item nav-view">
    <%= link_to '로그아웃', destroy_user_session_path, method: 'delete', class:"nav-link" %>
  </li>
  <% end %>  

  <li class="nav-item">
    <p id="notice", class="nav-link"><%= notice %></p>
  </li>
  
</ul>



