<%= render 'nav' %>
<hr>
<div class="container">
  
<h1>도와줘요, 수학대장</h1>
<br>

<table class="table">
  <thead class="thead-default">
    <tr>
      <th>#</th>
      <th style="width: 500px;">제목</th>
      <th colspan="1"></th>
      <th><%= link_to '질문하기', new_post_path %></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td scope="row"><%= post.id %></td>
        <td colspan="2"><%= post.title %></td>
        <td>
        <%= link_to '보기', post %>
        <%= link_to '수정', edit_post_path(post) %>
        <%= link_to '삭제', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>