<%= render 'nav' %>
<div class="container", style="margin-top: 50px;">
<div class="card">
<div class="card-block">
<h1>질문하기</h1>

<%= render 'form' %>

<%= link_to '뒤로', posts_path %>
</div>
</div>
</div>