<%= render 'nav' %>
<div class="container">
<div class="card">
<div class="card-block">

<form>
  <div class="form-group">
    <label>제목</label>
  <div class="form-control"><%= @post.title %></div>
  </div>
  <div class="form-group">
    <label>내용</label>
  <div class="form-control"><%= @post.content %></div>
  </div>
</form>

<%= link_to '수정', edit_post_path(@post) %> |
<%= link_to '뒤로', posts_path %>

<hr>
<h1>당신의 생각</h1>

<form action='/posts/show/<%= @post.id %>/comments/create' method='post'>
    <div class="field form-group">
    <label>답변</label><br>
  <input type='string' name='input_title' class="form-control">
  </div>
  <br>
  <input type='submit' class="actions">
</form>

<hr>
<% @comments.each do |comment| %>
  <div class="field form-group">
    <label>답변</label><br>
    <div class="form-control"><%= comment.title %></div>
  </div>
<% end %>
<hr>

</div>
</div>
</div>